{% extends 'base_index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    MCC-Reset_password
{% endblock %}

{% block contactinfo %}
    <i class="fas fa-envelope"></i> <a href="{{about.email}}">{{about.email}}</a>
    <i class="fas fa-phone"></i> {{about.contact}}
{% endblock contactinfo %}
{% block makeappointment %}
    {% if user.is_authenticated %}
        <a href="{% url 'upload' 'Sheet' %}" class="appointment-btn scrollto">Upload Sheet</a>
    {% else %}
        <a href="{% url 'login' %}" class="appointment-btn scrollto">Login</a>
    {% endif %}

{% endblock makeappointment %}
{% block content %}
<!-- ======= password reset Section ======= -->
    <section id="register" class="appointment section-bg">
      <div class="container" >

        <div class="section-title " style="margin-top:80px;">
          <h2>Reset Password</h2>
            <p>Enter Your Email, You will be emailed the instructions for setting a new password</p>
        </div>

            <div class="row mb-3">
              <div class="col-md-5 form-group container">
                  <p>Your Password has been reset,You may now Log in. </p>
              </div>
            </div>

          <div class="text-center"><a href="{% url 'login' %}" class="rounded btn btn-primary">Log in</a></div></br></br>

      </div>
    </section><!-- End password reset Section -->
{% endblock content %}