{% extends 'base_index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    MCC-Update_password
{% endblock %}

{% block contactinfo %}
    <i class="fas fa-envelope"></i> <a href="{{about.email}}">{{about.email}}</a>
    <i class="fas fa-phone"></i> {{about.contact}}
{% endblock contactinfo %}
{% block makeappointment %}
    {% if user.is_authenticated %}
        <a href="{% url 'upload' 'Sheet' %}" class="appointment-btn scrollto">Upload Sheet</a>
    {% else %}
        <a href="{% url 'login' %}" class="appointment-btn scrollto">Login</a>
    {% endif %}

{% endblock makeappointment %}
{% block content %}
<!-- ======= password reset Section ======= -->
    <section id="register" class="appointment section-bg">
      <div class="container" >

        <div class="section-title " style="margin-top:80px;">
          <h2>Enter New Password</h2>
            <p class="alert alert-sm alert-warning">Please enter your new password twice so we can verify you typed it in correctly</p>
        </div>

        <form method="post" class="php-email-form">
          {% csrf_token %}

                <div class="form-row field-password1 row mb-1">
                    <div class="col-md-5 form-group-sm container">
                        <label for="id_new_password1">Username:</label>
                        <input class="hidden form-control form-control-sm" readonly disabled  autocomplete="username" value="{{user.username}}">
                    </div>
                </div>
                <div class="form-row field-password1 row mb-2">


                    <div class="col-md-5 form-group container">
                        <label for="id_new_password1">New password:</label>
                        <input placeholder="Enter your Password" type="password" name="new_password1" class="form-control {% if form.errors %}is-invalid{% endif %}" autocomplete="new-password" required id="id_new_password1">
                        <p> {% if form.errors %}
                            <div class="text-danger">
                                <ul>
                                    {% for field in form %}
                                        {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="form-row field-password2 row mb-3">


                    <div class="col-md-5 form-group container">
                        <label for="id_new_password2">Confirm password:</label>
                        <input placeholder="Confirm Your Password" type="password" name="new_password2" autofocus class="form-control {% if onfocus %} {% else %}{% if form.errors %}is-invalid{% endif %}{% endif %}" autocomplete="new-password" required id="id_new_password2">
                        <p> {% if form.errors %}
                            <div class="text-danger">
                                <ul>
                                    {% for field in form %}
                                        {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </p>
                    </div>
                </div>

          <div class="text-center"><button type="submit">Update Password</button></div></br></br>
        </form>

      </div>
    </section><!-- End password reset Section -->
{% endblock content %}