{% load i18n custom_tags %}
<div class="actions mb-2">
  {% block actions %}
    {% block actions-form %}
    {% for field in action_form %}
        {% if field.label %}
            <label>
                {{ field.label }}
                {% endif %}
                {{ field|add_classes:'form-control form-control-sm' }}
                {% if field.label %}
            </label>
        {% endif %}
    {% endfor %}
    {% endblock %}
    {% block actions-submit %}
    <button type="submit" class="button btn btn-sm btn-danger " title="{% translate 'Run the selected action' %}" name="index" value="{{ action_index|default:0 }}">{% translate "Go" %}</button>
    {% endblock %}
        {% block actions-counter %}
        <!--{% if actions_selection_counter %}
            <span class="action-counter" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>

        {% endif %}-->
        {% endblock %}
  {% endblock %}
</div>
