{% extends "admin/base_site.html" %}
{% load i18n static custom_tags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'admin/img/logo.png' %}" alt="">
                  <span class="">MCCAdmin</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    {% if form.errors and not form.non_field_errors %}
                      <p class="errornote alert alert-sm alert-danger small">
                        {% if form.errors.items|length == 1 %}
                          {% translate "Please correct the error below." %}
                        {% else %}
                          {% translate "Please correct the errors below." %}
                        {% endif %}
                      </p>
                      {% endif %}
                      {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="errornote text text-sm text-danger small">
                                {{ error }}
                            </p>
                        {% endfor %}
                      {% else %}
                          <p class="text-center small">Enter your username & password to login</p>
                      {% endif %}
                  </div>
                  {% if user.is_authenticated %}
                    <p class="errornote alert alert-sm alert-danger">
                    {% blocktranslate trimmed %}
                        You are authenticated as {{ username }}, but are not authorized to
                        access this page. Would you like to login to a different account?
                    {% endblocktranslate %}
                    </p>
                  {% endif %}

                  <form action="{{ app_path }}" method="post" id="login-form" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}

                    <div class="col-12">
                      <div class="form-label text-dark">{{ form.username.label_tag }}</div>
                      <div class="input-group has-validation">
                        {% if form.errors and not form.username.value %}
                            {{ form.username|add_classes:'form-control form-control-sm m-2 is-invalid' }}
                        {% elif form.username.value %}
                            {{ form.username|add_classes:'form-control form-control-sm m-2 is-valid'}}
                        {% else %}
                            {{ form.username|add_classes:'form-control form-control-sm m-2'}}
                        {% endif %}
                        <div class="text text-danger invalid-feedback">{{ form.username.errors }}</div>
                      </div>
                    </div>

                    <div class="col-12">

                      <div class="form-label text-dark">{{ form.password.label_tag }}</div>
                      <div class="input-group has-validation">
                        {% if form.errors and not form.password.value %}
                            {{ form.password|add_classes:'form-control form-control-sm m-2 is-invalid' }}
                        {% elif form.password.value %}
                            {{ form.password|add_classes:'form-control form-control-sm m-2 is-valid'}}
                        {% else %}
                            {{ form.password|add_classes:'form-control form-control-sm m-2'}}
                        {% endif %}
                        <div class="text text-danger invalid-feedback">{{ form.password.errors }}</div>
                        <input type="hidden" name="next" value="{{ next }}">
                      </div>
                    </div>

                    <div class="col-12">
                      {% url 'admin_password_reset' as password_reset_url %}
                      {% if password_reset_url %}
                      <div class="password-reset-link">
                        <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
                      </div>
                      {% endif %}
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100 mt-4" type="submit">Login</button>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                Designed by <a href="#">oscar oguledo</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main>
<script>
     const id_list = document.querySelectorAll('*[id]')
     for (d in id_list) {
          try {
              //for usernames
              if (id_list[d].id.includes('name') || id_list[d].id.includes('user')){
                    const identity = id_list[d].id
                    //console.log(id_list[d].id, identity);
                   document.getElementById(identity).classList.replace('is-valid','is-invalid');

              }
              //for passwords
              if (id_list[d].id.includes('password') || id_list[d].id.includes('pwd')){
                    const identity = id_list[d].id
                    //console.log(id_list[d].id, identity);
                   document.getElementById(identity).classList.replace('is-valid','is-invalid');

              }
          }
          catch(err) {
                console.log(err);
          }
        }
</script>
{% endblock %}
