<!DOCTYPE html>
<html lang="en">
    {% load i18n static  %}
    {% load crispy_forms_tags %}
    <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">

      <title>{% block title %}MCCLib - Index{% endblock %}</title>
      <meta content="" name="description">
      <meta content="" name="keywords">

      <!-- Favicons -->
      {% block extrahead %}
          <link href="{% static 'img/favicon.png' %}" rel="icon">
          <link href="{% static 'img/favicon.png' %}" rel="apple-touch-icon">
      {% endblock %}

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

      <!-- Vendor CSS Files -->
      <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

      <!-- Template Main CSS File -->
      <link href="{% static 'css/style.css' %}" rel="stylesheet">

    </head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        {% block contactinfo %}
        {% endblock contactinfo %}
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <a href="{% url 'home' %}" class="logo me-auto"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>
      <h1 class="logo me-auto"><a href="{% url 'home' %}"><span class="d-none d-md-inline">Madonna Central Choir - </span>MCC</a></h1>


      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a id="nav-link1" class="nav-link scrollto " href="{% url 'home' %}" >Home</a></li>
          <li><a id="nav-link2" class="nav-link scrollto " href="{% url 'about' %}" >About</a></li>
          <li><a id="nav-link3" class="nav-link scrollto " href="{% url 'activities' %}" >Activities</a></li>
          <li><a id="nav-link4" class="nav-link scrollto" href="{% url 'library' %}" >Library</a></li>

          <li class="dropdown">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' user.username %}" >
                  <span>
                    {% if user.profile_akpugo %}
                      <img class="rounded-circle mt-0" width='40px' height='40px' src="{{user.profile_akpugo.image.url}}">
                    {% endif %}
                    {% if user.profile_elele %}
                      <img class="rounded-circle mt-0" width='40px' height='40px' src="{{user.profile_elele.image.url}}">
                    {% endif %}
                    {% if user.profile_okija %}
                      <img class="rounded-circle mt-0" width='40px' height='40px' src="{{user.profile_okija.image.url}}">
                    {% endif %}
                    {% if user.profile_national %}
                      <img class="rounded-circle mt-0" width='40px' height='40px' src="{{user.profile_national.image.url}}">
                    {% endif %}
                  </span>
                </a>
            <ul>
              <li class="bg-warning m-1"><a href="{% url 'profile' user.username %}">Profile</a></li>
              <li class="bg-warning m-1"><a href="{% url 'upload' 'Sheet' %}">Upload sheet music</a></li>
              <!--<li class="bg-warning m-1"><a href="{% url 'upload' 'Video' %}">Upload Video</a></li>-->
              <li class="bg-warning m-1"><a href="{% url 'upload' 'Audio' %}">Upload Audio</a></li>
                {% if user.is_staff %}
                    <li class="bg-warning m-1"><a href="{% url 'admin:index' %}"> Admin Page</a></li>
                {% endif %}
              <li class="bg-warning m-1"><a href="{% url 'logout' %}">Logout</a></li>

              {% endif %}

            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      {% block makeappointment %}<!-- link is found in index.html -->
      {% endblock makeappointment %}
    </div>

  </header><!-- End Header -->
    <main id="main">
    <div>{% include 'partials/_messages.html' %}</div>
    {% block content %}

    {% endblock content %}


     </main><!-- End #main -->
  <!-- ======= Footer ======= -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>


  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>