{% extends "admin/base_site.html" %}
{% load i18n static custom_tags %}
{% load admin_urls %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}

{% block content %}
<main id="main" class="main">
    <div id="content-main" class="card">

        <div class="card-body">
            <form{% if form_url %} action="{{ form_url }}"{% endif %} method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
            <div class=" mt-3">
            {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" >{% endif %}
            {% if form.errors %}
                <p class="errornote alert alert-sm alert-danger">
                    {% if form.errors.items|length == 1 %}
                        {% translate "Please correct the error below." %}
                    {% else %}
                        {% translate "Please correct the errors below." %}
                    {% endif %}
                </p>
            {% endif %}
                {% if not is_popup %}
                    {% block breadcrumbs %}
                        <nav>
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">Dashboard</a></li>
                              <li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
                              <li class="breadcrumb-item"><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
                              <li class="breadcrumb-item"><a href="{% url opts|admin_urlname:'change' original.pk|admin_urlquote %}">{{ original|truncatewords:"18" }}</a></li>
                            <li class="breadcrumb-item active">Change Password</li>
                          </ol>
                        </nav>
                    {% endblock %}
                {% endif %}
            <p class="card-title">{% blocktranslate with username=original %}Enter a new password for the user <strong class="text-info">{{ username }}</strong>.{% endblocktranslate %}</p>

            <fieldset class="module aligned">
                <div class="form-row form-group">
                    <input type="text" name="username" value="{{ original.get_username }}" class="hidden form-control form-control-sm" readonly>
                </div>
                <div class="form-row form-group">
                    <div class="text text-danger">{{ form.password1.errors }}</div>
                    <div class="form-label text-primary">{{ form.password1.label_tag }}</div>
                    {% if form.errors and not form.password1.value %}
                        {{ form.password1|add_classes:'form-control form-control-sm m-2 is-invalid' }}
                    {% elif form.password1.value %}
                        {{ form.password1|add_classes:'form-control form-control-sm m-2 is-valid'}}
                    {% else %}
                        {{ form.password1|add_classes:'form-control form-control-sm m-2'}}
                    {% endif %}
                  {% if form.password1.help_text %}
                  <div class="help">{{ form.password1.help_text|safe }}</div>
                  {% endif %}
                </div>

                <div class="form-row form-group">
                    <div class="text text-danger">{{ form.password2.errors }}</div>
                    <div class="form-label text-primary">{{ form.password2.label_tag }}</div>
                    {% if form.errors and not form.password2.value %}
                        {{ form.password2|add_classes:'form-control form-control-sm m-2 is-invalid' }}
                    {% elif form.password2.value %}
                        {{ form.password2|add_classes:'form-control form-control-sm m-2 is-valid'}}
                    {% else %}
                        {{ form.password2|add_classes:'form-control form-control-sm m-2'}}
                    {% endif %}
                  {% if form.password2.help_text %}
                  <div class="help">{{ form.password2.help_text|safe }}</div>
                  {% endif %}
                </div>

            </fieldset>

            <div class="submit-row form-group">
            <input type="submit" value="{% translate 'Change password' %}" class="default btn btn-sm btn-success">
            </div>

            </div>
            </form>
        </div>
    </div>
</main>
<script>
     const id_list = document.querySelectorAll('*[id]')
     for (d in id_list) {
          try {

              //for passwords
              if (id_list[d].id.includes('password') || id_list[d].id.includes('pwd')){
                    const identity = id_list[d].id
                    //console.log(id_list[d].id, identity);
                   document.getElementById(identity).classList.replace('is-valid','is-invalid');

              }
          }
          catch(err) {
                console.log(err);
          }
        }
</script>
{% endblock %}
